body {
    background-color: #1e1e1e;
    margin: 0;
}

#search {
    width: 100vw;
    height: 30px;

    font-size: 20px;
    text-align: center;

    background-color: transparent;
}

#gameResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    object-fit: cover;

    height: 220px;
    width: 170px;
}

h3 {
    color: white;
}